@using MenuComponentLibrary.Models

<div class="my-component">
    <ul>
        @foreach (var item in Items)
        {
            <SubMenuComponent Item="@item" OnClickCallback="OnSelect" IsRootItem="true"></SubMenuComponent>
        }
    </ul>
</div>


@code {
    [Parameter]
    public IEnumerable<MenuItem> Items { get; set; }

    [Parameter]
    public EventCallback<MenuItem> OnSelect { get; set; }
}