.my-component {
    border: 2px dashed red;
}

    .my-component ul {
        list-style-type: none;
        padding-left: 1rem;
        margin: 0;
    }

        .my-component ul li {
            display: inline;
        }

            .my-component ul li span {
                padding: 10px;
                cursor: default;
            }

        .my-component ul span:hover {
            background-color: #ddd;
        }
