@using MenuComponentLibrary.Models

<div class="my-component" style="height: 100px;">
    <ul>
        @foreach (var item in Items)
        {
          @*  <li>
                <span>
                    @item.Text
                    @if (item.MenuItems != null)
                    {
                        <span class="chevron bottom"></span>
                    }
                </span>
                @if (item.MenuItems != null)
                {*@
                    <SubMenuComponent Item="item" IsRootItem="true"></SubMenuComponent>
                @*}
            </li>*@
        }
    </ul>
</div>

@code {
    [Parameter] public IEnumerable<MenuItem> Items { get; set; }
}