@using MenuComponentLibrary.Models

<div class="my-component">
    <ul>
        @foreach (var item in Items)
        {
            <SubMenuComponent Item="item" IsRootItem="true"></SubMenuComponent>
        }
    </ul>
</div>

@code {
    [Parameter]
    public IEnumerable<MenuItem> Items { get; set; }
    
    [Parameter]
    public EventCallback<MouseEventArgs> OnSelect { get; set; }
}