@page "/"
@using MenuComponentLibrary
@using MenuComponentLibrary.Models

<PageTitle>Index</PageTitle>

<p>@message</p>

<MenuComponent Items="menuItems" OnSelect="@ShowMessage" />

@code {
    List<MenuItem> menuItems = new List<MenuItem>()
    {
        new MenuItem(){Text= "Item 1",
            MenuItems = new List<MenuItem>(){
                new MenuItem(){ Text="Item 1.1"},
                new MenuItem() { Text= "Item 1.2",
                    MenuItems= new List<MenuItem>() { new MenuItem() {Text="Item 1.2.1" },new MenuItem() {Text="Item 1.2.2" }}
                }
            }
        },
        new MenuItem(){Text= "Item 2"},
        new MenuItem(){Text= "Item 3"},
    };

    private string? message;

    private void ShowMessage(MenuItem item)
    {
        message = $"You have clicked on {item.Text}";
    }
}
